node_modules/.package-lock.json
node_modules/emoji-picker-element/CHANGELOG.md
node_modules/emoji-picker-element/custom-elements.json
node_modules/emoji-picker-element/database.d.ts
node_modules/emoji-picker-element/database.js
node_modules/emoji-picker-element/database.js.map
node_modules/emoji-picker-element/index.d.ts
node_modules/emoji-picker-element/index.js
node_modules/emoji-picker-element/LICENSE
node_modules/emoji-picker-element/package.json
node_modules/emoji-picker-element/picker.d.ts
node_modules/emoji-picker-element/picker.js
node_modules/emoji-picker-element/picker.js.map
node_modules/emoji-picker-element/README.md
node_modules/emoji-picker-element/shared.d.ts
node_modules/emoji-picker-element/svelte.js
node_modules/emoji-picker-element/svelte.js.map
node_modules/emoji-picker-element/trimEmojiData.cjs
node_modules/emoji-picker-element/trimEmojiData.cjs.map
node_modules/emoji-picker-element/trimEmojiData.d.ts
node_modules/emoji-picker-element/trimEmojiData.js
node_modules/emoji-picker-element/trimEmojiData.js.map
node_modules/emoji-picker-element/i18n/ar.d.ts
node_modules/emoji-picker-element/i18n/ar.js
node_modules/emoji-picker-element/i18n/de.d.ts
node_modules/emoji-picker-element/i18n/de.js
node_modules/emoji-picker-element/i18n/en.d.ts
node_modules/emoji-picker-element/i18n/en.js
node_modules/emoji-picker-element/i18n/es.d.ts
node_modules/emoji-picker-element/i18n/es.js
node_modules/emoji-picker-element/i18n/fr.d.ts
node_modules/emoji-picker-element/i18n/fr.js
node_modules/emoji-picker-element/i18n/ms_MY.d.ts
node_modules/emoji-picker-element/i18n/ms_MY.js
node_modules/emoji-picker-element/i18n/nl.d.ts
node_modules/emoji-picker-element/i18n/nl.js
node_modules/emoji-picker-element/i18n/pt_BR.d.ts
node_modules/emoji-picker-element/i18n/pt_BR.js
node_modules/emoji-picker-element/i18n/pt_PT.d.ts
node_modules/emoji-picker-element/i18n/pt_PT.js
node_modules/emoji-picker-element/i18n/tr.d.ts
node_modules/emoji-picker-element/i18n/tr.js
